<launch>
  <!-- <include file="$(find ucar_cam)/launch/my_rec_v4.launch" > </include> -->
  <!-- <node pkg="ucar_cam" type="sub_img" name="sub_img" output="screen" /> -->
  <!-- Run the map server -->
  <node pkg="ucar_cam" type="my_trace.py" name="pub_img" output="screen" />
  <node pkg="ucar_cam" type="sub_img" name="sub_img" output="screen" />
  <include file="$(find ydlidar)/launch/ydlidar.launch" > </include>

  <!-- <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch"> </include> -->
  <include file="$(find xf_mic_asr_offline)/launch/xf_mic_asr_offline.launch" > </include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_map)/maps/map04182.yaml" output="screen">
   <param name="frame_id" value="map" />
  </node> 


<!-- <param name="base_global_planner" value="voronoi_planner/VoronoiPlanner"/>  -->
  <include file="$(find ucar_nav)/launch/config/amcl/amcl_omni.launch" > </include>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <rosparam file="$(find ucar_nav)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/move_base/global_planner_params.yaml" command="load" />
    <!-- <rosparam file="$(find ucar_nav)/launch/config/move_base/dwa_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find ucar_nav)/launch/config/move_base/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/move_base/move_base_params.yaml" command="load" />
  </node>
    <!-- <rosparam command="load" file="$(find ucar_nav)/launch/config/move_base/my_navigation.yaml" /> -->
  <!-- <node name="dyncxy" pkg="ucar_nav" type="dyncxy.py" output="screen" />  -->
  <!-- <node name="my_shot" pkg="ucar_nav" type="shot.py" output="screen" />  -->
  <!-- <node name="qr_server" pkg="photo_and_qr" type="server.py" output="screen" />  -->
  <!-- <node name="dynamic_client" pkg="params" type="dynamic.py"> -->
  <include file="$(find ucar_controller)/launch/base_driver.launch" > </include>

  <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam-test" output="screen" /> -->
  <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="color_format" value="yuv422p" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node> -->

</launch>